<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>고객센터 관련 쿼리문</comment>
	
	<entry key="selectFAQList">
		SELECT * 
		FROM(
		SELECT ROWNUM RNUM, A.*
			FROM(
				SELECT FAQ_NO, FAQ_TITLE
				FROM FAQ
				ORDER BY FAQ_NO DESC)A)
		WHERE RNUM BETWEEN ? AND ?
		ORDER BY FAQ_NO
	</entry>
	<entry key="selectFAQ">
		SELECT FAQ_TITLE, FAQ_CONTENT
		FROM FAQ
		WHERE FAQ_NO = ?
	</entry>
	<entry key="selectFAQListCount">
		SELECT COUNT(*) FAQ_NO
		FROM FAQ 
	</entry>
	
	
</properties>