<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>채팅 관련 쿼리문</comment>
	
	<entry key="submitChat">
	
	
	INSERT INTO CHAT(CHAT_ID,FROM_ID,TO_ID,CHAT_CONTENT,MEMBER_NO)
    VALUES(SEQ_CCNO.NEXTVAL,?,?,?,?) 
	
	</entry>
	
	
	<entry key="selectChatList">
	
	
	SELECT CHAT_ID,FROM_ID, TO_ID,CHAT_CONTENT,CHAT_TIME
	FROM CHAT C  
	JOIN MEMBER M ON (TO_ID = M.MEMBER_NO)
	WHERE FROM_ID= ?
    AND TO_ID = ?
	AND C.MEMBER_NO = ?
	ORDER BY CHAT_TIME
	
	</entry>
	
	

	
</properties>
