<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>후기게시판 관련 쿼리문</comment>

	<entry key="deleteMember">
		UPDATE MEMBER
		SET STATUS = 'N'
		WHERE MEMBER_NO = ?
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		FROM ONE_VS_ONE
	</entry>
	
	<entry key="selectListMemberCount">
		SELECT COUNT(*) COUNT
		FROM MEMBER
		WHERE STATUS = 'Y'
	</entry>
	

	<entry key="selectList">

		SELECT *
		FROM (
		SELECT ROWNUM RNUM, A.*
		FROM (
		SELECT
		MEMBER_NO, MEMBER_ID, MEMBER_NAME, EMAIL, ADDRESS, PHONE,TO_CHAR(BIRTH, 'YYYY/MM/DD') BIRTH,ENROLL_DATE
		FROM MEMBER M
		WHERE STATUS = 'Y'
		ORDER BY
		ENROLL_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	


	<entry key="updateMember">
		UPDATE MEMBER
		SET EMAIL = ?
		, ADDRESS = ?
		, PHONE = ?
		, BIRTH = TO_DATE( ?, 'YYYY/MM/DD')
		WHERE MEMBER_NO = ?
	</entry>

	<entry key="selectMember">

		SELECT MEMBER_NO, MEMBER_ID, MEMBER_NAME, EMAIL,
		ADDRESS, PHONE, BIRTH, ENROLL_DATE
		FROM MEMBER
		WHERE MEMBER_ID = ?
		AND STATUS = 'Y'
	</entry>

	<entry key="updateAnswer">
		UPDATE ONE_VS_ONE
		SET ANSWER = ?
		WHERE O_ID = ?
	</entry>

	<entry key="selectOneList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM, A.*
		FROM (
		SELECT MEMBER_NO, MEMBER_ID, O_ID, O_TITLE, O_CONTENT, O_CREATE_DATE
		FROM ONE_VS_ONE O
        JOIN MEMBER M USING (MEMBER_NO)
		ORDER BY O_CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

</properties>