<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>회원 관련 쿼리문</comment>
	
	<entry key="loginMember">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = ?
		AND MEMBER_PWD = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="insertMember">
		INSERT INTO MEMBER(MEMBER_NO, MEMBER_ID, MEMBER_PWD, MEMBER_NAME, EMAIL, ADDRESS, PHONE, BIRTH)
		VALUES (SEQ_UNO.NEXTVAL, ?, ?, ?, ?, ?, ?, ?)
	</entry>
	
	<entry key="findId">
		SELECT RPAD(SUBSTR(MEMBER_ID, 1, 4), LENGTH(MEMBER_ID), '*') "MEMBER_ID" FROM MEMBER 
		WHERE EMAIL = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="findPwd">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = ?
		AND EMAIL = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="updatePassword">
		UPDATE MEMBER SET MEMBER_PWD = ?
		WHERE MEMBER_ID = ?
		AND EMAIL = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="idCheck">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_ID = ?
	</entry>
	<entry key="updateMember">
		 UPDATE MEMBER 
	   	   SET MEMBER_NAME = ?
	         , EMAIL = ?
	         , ADDRESS = ?
	         , PHONE = ?
	         , BIRTH = ?
	     WHERE MEMBER_ID = ?
	</entry>
	
	<entry key="selectMember">
		SELECT *
		  FROM MEMBER
	 	 WHERE MEMBER_ID = ?
	</entry>
	
	<entry key="updatePwdMember">
		UPDATE MEMBER
		   SET MEMBER_PWD = ?
		 WHERE MEMBER_ID = ? 
		   AND MEMBER_PWD = ?
	</entry>
	
	<entry key="deleteMember">
		UPDATE MEMBER
		   SET STATUS = 'N'
		 WHERE MEMBER_ID = ?
		   AND MEMBER_PWD = ?
	</entry>
	
	<entry key="selectHeartList">
		SELECT ZZIM_NO,ZZIM_TNO,T_TITLE
		FROM ZZIM Z
		JOIN T_BOARD ON (ZZIM_TNO = T_NO)
		JOIN MEMBER M ON (ZZIM_MEMBER = M.MEMBER_NO)
		WHERE Z.STATUS ='Y' AND ZZIM_MEMBER = ?
		ORDER BY Z.CREATE_DATE DESC
	</entry>
	
	<entry key="selectZzim">
            SELECT *
		 FROM (
		    SELECT ROWNUM RNUM, A.*
		      FROM (SELECT Z.ZZIM_NO, Z.ZZIM_MEMBER, Z.ZZIM_TNO, T.T_TITLE
		              FROM ZZIM Z, T_BOARD T
		             WHERE Z.ZZIM_MEMBER = ?
		               AND Z.ZZIM_TNO = T.T_NO(+)
		               AND Z.STATUS = 'Y'
		             ORDER BY Z.CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchMyTrade">
		SELECT *
		 FROM (
		    SELECT ROWNUM RNUM, A.*
		      FROM (SELECT T_NO, T_TITLE, T_PRICE, CREATE_DATE, STATUS
                	  FROM T_BOARD
              		 WHERE MEMBER_NO = ?
              		 ORDER BY T_NO DESC) A)
         WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		 FROM ZZIM
		WHERE STATUS = 'Y'
		  AND ZZIM_MEMBER = ?
	</entry>
	
	<entry key="TselectListCount">
		SELECT COUNT(*) COUNT
		 FROM T_BOARD
		WHERE STATUS = 'Y'
		  AND MEMBER_NO = ?
	</entry>
	
	<entry key="selectList">
		SELECT *
		FROM (
		    SELECT ROWNUM RNUM, A.*
		    FROM (
		            SELECT T_NO,T_TITLE, T_PRICE,CATEGORY_NO, CREATE_DATE, T_COUNT, MEMBER_NO, B.STATUS
		            FROM T_BOARD B
		            JOIN CATEGORY USING (CATEGORY_NO)
		            JOIN MEMBER USING (MEMBER_NO)
		            WHERE  B.STATUS = 'Y'
                    AND MEMBER_NO = ?
		            ORDER BY CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
		
	</entry>
</properties>
